{% extends 'base.html' %}
{% block content %}

<script src="https://kit.fontawesome.com/c25c69112a.js" crossorigin="anonymous"></script>
<style>
    h1{
        padding-left:47%;
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .row{
        padding-left:13%
    }
    
	#total-orders{
		background-color: #4cb4c7;

	}


	#orders-delivered{
		background-color: #7abecc;
	}

	#orders-pending{
		background-color: #7CD1C0;
    }
	.title{
		background-color:white;
		padding-top:10px;
		padding-bottom:10px;
		text-align:center ;

	}
	hr{
		width:50%;
	
		border:1px solid blue
		
	}
	.buttons{
		display:flexbox;
		flex-direction: row;
	
	}



	
	
	    
</style>

<h1>Expenditure</h1>



<br>

<div class="row">
<div class="col">
	<div class="title">
	<h5>All Expenditure</h5>
	<hr>
	</div>
	<div class="card card-body">
		<div class="row">
			
			<div class="col">
		<a class="btn btn-outline-info btn-sm  btn-block" href="{% url 'AllExpense' %}">Go Back</a>
		</div>	
		</div>
		<table class="table table-sm">
			<tr>
				<th></th>
				<th>Name</th>
				<th>Amount</th>
				<th>Month</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

			{% for i in expense_important %}
				
				<tr>
					<td><i class="fas fa-star"></i></td>
					<td>{{i.name}}</td>
					<td>{{i.amount}}</td>
					<td>{{i.month}}</td>
					<td><a href="{% url 'UpdateExpense' i.id %}"><i class="fas fa-edit fa-2x" style="padding-left: 3px;"></i></a></td>
					<td><a href="{% url 'DeleteExpense' i.id %}"><i class="fas fa-trash-alt fa-2x" style="padding-left: 17px;"></i></a></td>

				</tr>
				
				
			{% endfor %}

	
		</table>
	</div>
</div>

</div>
{% endblock %}